<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Connect a Spark slave to Jenkins</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>secret</name>
          <description>JNLP secret</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>curl -sSL -XPOST -H &quot;Content-Type: application/json&quot; -d @- &quot;http://marathon.mesos:8080/v2/apps&quot; &lt;&lt;END
{
  &quot;id&quot;: &quot;/jenkins-spark-slave&quot;,
  &quot;cpus&quot;: 4,
  &quot;mem&quot;: 4096,
  &quot;instances&quot;: 1,
  &quot;cmd&quot;: &quot;java -jar $MESOS_SANDBOX/slave.jar -jnlpUrl http://${HOST}:${PORT0}/computer/spark-slave/slave-agent.jnlp -secret ${secret}&quot;,
  &quot;container&quot;: {
    &quot;type&quot;: &quot;DOCKER&quot;,
    &quot;docker&quot;: {
      &quot;image&quot;: &quot;basho/spark&quot;,
      &quot;network&quot;: &quot;BRIDGE&quot;,
      &quot;portMappings&quot;: [
        { &quot;containerPort&quot;: 4040, &quot;hostPort&quot;: 0, &quot;protocol&quot;: &quot;tcp&quot; }
      ]
    }
  },
  &quot;env&quot;: {
    &quot;MASTER&quot;: &quot;mesos://leader.mesos:5050&quot;
  },
  &quot;uris&quot;: [
    &quot;http://${HOST}:${PORT0}/jnlpJars/slave.jar&quot;
  ]
}
END</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
