<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>spark-slave</name>
  <description>Slave for running Spark jobs</description>
  <remoteFS>/tmp</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher"/>
  <label>spark</label>
  <nodeProperties/>
  <userId>jenkins</userId>
</slave>
